#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100
#define MOUSE 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
    tapping-term-ms = <250>;
};

/ {
    combos {
        compatible = "zmk,combos";

        mouse_scroll {
            bindings = <&mo 5>;
            key-positions = <31 32>;
        };

        right_shift {
            bindings = <&kp RIGHT_SHIFT>;
            key-positions = <32 33>;
        };

        left_shift {
            bindings = <&kp LEFT_SHIFT>;
            key-positions = <22 23>;
        };

        pw {
            bindings = <&PW>;
            key-positions = <1 0>;
            layers = <0>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        PW: PW {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Y &kp O &kp S &kp H &kp I &kp KP_NUMBER_4 &kp KP_NUMBER_4 &kp KP_NUMBER_8>;
            label = "PW";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <350>;
        };

        scroll_up_down: behavior_sensor_rotate_mouse_wheel_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;

            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q      &kp W         &kp E       &kp R               &kp T                                        &kp Y             &kp U  &kp I     &kp O     &kp P
&kp A      &kp S         &kp D       &kp F               &kp G        &trans         &kp MINUS        &kp H             &kp J  &kp K     &kp L     &kp COLON
&kp Z      &kp X         &kp C       &kp V               &kp B        &lt 4 COMMA    &kp PERIOD       &kp N             &kp M  &mkp MB1  &mkp MB2  &kp SLASH
&kp LCTRL  &kp LEFT_ALT  &kp LSHIFT  &mt LEFT_GUI LANG2  &lt 1 SPACE  &lt 2 LANG1    &lt 3 BACKSPACE  &mt RSHIFT ENTER                             &kp DEL
            >;

            sensor-bindings =
                <&scroll_up_down>,
                <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        layer_1 {
            bindings = <
&kp ESCAPE            &kp EXCL              &kp AT             &kp HASH              &kp PERCENT                           &trans             &trans                 &trans  &trans  &kp LC(LA(DEL))
&kp TAB               &kp AMPERSAND         &trans             &kp LEFT_PARENTHESIS  &kp LEFT_BRACKET  &trans    &kp PLUS  &kp RIGHT_BRACKET  &kp RIGHT_PARENTHESIS  &trans  &trans  &trans
&kp LSHFT             &trans                &kp DOUBLE_QUOTES  &kp SEMI              &kp COMMA         &trans    &trans    &kp PERIOD         &kp COLON              &trans  &trans  &kp RIGHT_SHIFT
&kp LS(LG(NUMBER_3))  &kp LS(LG(NUMBER_4))  &kp LS(LG(N5))     &trans                &trans            &trans    &trans    &trans                                                    &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(RIGHT) LC(LEFT)>;
        };

        layer_2 {
            bindings = <
&kp MINUS        &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp PLUS                                                 &kp CARET        &kp AMPERSAND  &kp TILDE  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS
&kp SLASH        &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp ASTERISK  &kp LC(LA(KP_NUMBER_0))    &kp UNDERSCORE  &kp EXCLAMATION  &kp AT_SIGN    &kp HASH   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS
&kp KP_NUMBER_0  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp PERIOD    &kp EQUAL                  &kp MINUS       &kp PERCENT      &kp AMPERSAND  &trans     &trans                &mt RIGHT_SHIFT BACKSLASH
&trans           &kp PERCENT      &kp COMMA        &trans           &trans        &trans                     &trans          &trans                                                           &kp PIPE
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        layer_3 {
            bindings = <
&kp ESCAPE      &kp LC(LS(TAB))       &kp UP_ARROW    &kp LC(TAB)            &trans                     &kp F1   &kp F2   &kp F3  &kp F4  &kp F5
&kp HOME        &kp LEFT_ARROW        &kp DOWN_ARROW  &kp RIGHT_ARROW        &kp END  &trans    &trans  &kp F6   &kp F7   &kp F8  &kp F9  &kp F10
&kp LEFT_SHIFT  &kp LG(LEFT_BRACKET)  &kp LG(R)       &kp LG(RIGHT_BRACKET)  &trans   &trans    &trans  &kp F11  &kp F12  &trans  &trans  &trans
&kp LC(LEFT)    &trans                &trans          &trans                 &trans   &trans    &trans  &trans                            &kp LC(RIGHT)
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_DOWN C_VOL_UP>;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                         &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans  &trans  &trans  &trans  &trans    &trans       &trans        &trans        &trans        &trans        &trans
&trans  &trans  &trans  &trans  &trans  &trans    &bootloader  &trans        &trans        &trans        &trans        &bt BT_CLR
&trans  &trans  &trans  &trans  &trans  &trans    &trans       &trans                                                  &bt BT_CLR_ALL
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                          &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &mkp MB1  &mkp MB3  &mkp MB2
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                              &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };
    };
};
